@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
  /* this will hide the scrollbar in mozilla based browsers */
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
